@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "ProximaNovaRG";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNovaBOLD";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  background-color: #1C1E33;
}

.bodyfon {
  background: url("../img/fon1.png") 50%/100% 100% no-repeat;
}

.header__container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  height: 160px;
  display: flex;
}

.header__containerrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-family: "ProximaNovaBOLD";
  font-size: 18px;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

.lang {
  display: flex;
  align-items: center;
  font-family: "ProximaNovaBOLD";
  font-size: 14px;
  color: #FFFFFF;
}
.lang li {
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background-color: none;
}
.lang li:hover {
  cursor: pointer;
}

.active {
  background-color: #33BCD7;
}

.header__burger {
  display: none;
}

section {
  position: relative;
}

.firstscreen__container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 300px;
}

.firstscreen__description {
  margin-top: 119px;
  margin-left: 30px;
  width: 573px;
  color: #FFFFFF;
}

.firstscreen__title {
  margin-right: -100px;
  font-size: 52px;
  line-height: 63px;
  font-family: "ProximaNovaBOLD";
}

.firstscreen__text {
  margin-top: 50px;
  font-family: "ProximaNovaRG";
  font-size: 18px;
  line-height: 22px;
  width: 442px;
}
.firstscreen__text p {
  margin-top: 20px;
}

.bizz2go {
  color: #33BCD7;
}

.firstscreen__pic {
  position: absolute;
  right: 0px;
  top: 20px;
}

.secondscreen__container {
  background: url("../img/fon1.png") 50%/100% 100% no-repeat;
}

.secondscreen__description {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.secondscreen__title h2 {
  margin-left: 30px;
  font-family: "ProximaNovaBOLD";
  font-size: 52px;
  line-height: 63px;
}

h2 {
  padding-top: 34px;
  color: #1C1E33;
  text-shadow: #33BCD7 1px 1px 0, #33BCD7 -1px -1px 0, #33BCD7 -1px 1px 0, #33BCD7 1px -1px 0;
}

.secondscreen__textcontainer {
  display: flex;
  margin-top: 89px;
  margin-left: 30px;
  justify-content: space-between;
}

.secondscreen__text {
  font-family: "ProximaNovaRG";
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  max-width: 384px;
  margin-right: 0vw;
}
.secondscreen__text p {
  margin-top: 20px;
}

.subtitle {
  font-family: "ProximaNovaBOLD";
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.secondscreenpics {
  display: flex;
  justify-content: flex-start;
  margin-top: 100px;
  padding-bottom: 50px;
}

.secondscreen__pic2 {
  margin-left: 3vw;
}

.footer__container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__text {
  font-family: "ProximaNovaRG";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.footer__text a {
  color: #33BCD7;
}

@media (max-width: 1920px) {
  .firstscreen__pic img {
    width: 950px;
  }
}
@media (max-width: 1800px) {
  .firstscreen__pic img {
    width: 780px;
  }
}
@media (max-width: 1440px) {
  .firstscreen__pic img {
    width: 650px;
  }

  .firstscreen__title {
    margin-right: -50px;
    font-size: 42px;
    line-height: 53px;
    font-family: "ProximaNovaBOLD";
  }

  .firstscreen__text {
    margin-top: 50px;
    font-family: "ProximaNovaRG";
    font-size: 18px;
    line-height: 20px;
    width: 442px;
  }

  .secondscreen_pic1 img {
    width: 800px;
  }

  .secondscreen__pic2 img {
    width: 200px;
  }
}
@media (max-width: 1199px) {
  .firstscreen__pic img {
    width: 580px;
  }

  .firstscreen__title {
    margin-right: -50px;
    font-size: 36px;
    line-height: 53px;
    font-family: "ProximaNovaBOLD";
    width: 550px;
  }

  .firstscreen__text {
    margin-top: 50px;
    font-family: "ProximaNovaRG";
    font-size: 14px;
    line-height: 18px;
    width: 442px;
  }

  .secondscreen__text {
    font-family: "ProximaNovaRG";
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 300px;
    margin-right: 15vw;
  }
  .secondscreen__text p {
    margin-top: 20px;
  }

  .subtitle {
    font-family: "ProximaNovaBOLD";
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
  }

  .secondscreen_pic1 img {
    width: 700px;
  }

  .secondscreen__pic2 img {
    width: 150px;
  }

  .footer__text {
    margin-left: 30px;
  }
}
@media (max-width: 1024px) {
  .firstscreen__pic img {
    width: 400px;
  }

  .firstscreen__title {
    margin-right: -50px;
    font-size: 36px;
    line-height: 53px;
    font-family: "ProximaNovaBOLD";
    width: 480px;
  }

  .firstscreen__text {
    margin-top: 50px;
    font-family: "ProximaNovaRG";
    font-size: 14px;
    line-height: 18px;
    width: 480px;
  }

  .secondscreen_pic1 img {
    width: 600px;
  }

  .secondscreen__pic2 img {
    width: 100px;
  }

  .firstscreen__container {
    padding-bottom: 0px;
  }
}
@media (max-width: 860px) {
  .logo img {
    width: 90%;
  }

  .header__container {
    height: 100px;
  }

  .menu {
    overflow: hidden;
    position: absolute;
    top: -400px;
    right: -1000px;
    width: 50%;
    background-color: #33BCD7;
    margin-top: 80px;
    z-index: 5;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    font-size: 20px;
  }
  .menu li {
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .menu li:first-child {
    margin-top: 15px;
  }

  .menu__active {
    top: 0px;
    right: 0;
    display: block;
    transition: all 0.5s ease-out 0s;
  }

  .lang {
    margin-right: 30px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 30px;
  }
  .header__burger:hover {
    cursor: pointer;
  }

  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger.burger__active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.burger__active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.burger__active span {
    transform: scale(0);
  }

  .firstscreen__pic img {
    width: 300px;
  }

  .firstscreen__pic {
    top: 100px;
  }

  .firstscreen__title {
    margin-right: -50px;
    font-size: 36px;
    line-height: 53px;
    font-family: "ProximaNovaBOLD";
    width: 480px;
  }

  .firstscreen__text {
    margin-top: 50px;
    font-family: "ProximaNovaRG";
    font-size: 14px;
    line-height: 18px;
    width: 480px;
  }

  .secondscreen__text {
    margin-right: 20px;
  }

  .secondscreen_pic1 img {
    width: 600px;
  }

  .secondscreen__pic2 img {
    width: 100px;
  }

  .firstscreen__container {
    padding-bottom: 0px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  .firstscreen__pic img {
    display: none;
  }

  .firstscreen__description {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
  }

  .firstscreen__title {
    margin-right: -50px;
    font-size: 36px;
    line-height: 53px;
    font-family: "ProximaNovaBOLD";
    width: 100%;
  }

  .firstscreen__text {
    margin-top: 50px;
    font-family: "ProximaNovaRG";
    font-size: 14px;
    line-height: 18px;
    width: 100%;
  }

  .secondscreen__title h2 {
    font-size: 28px;
  }

  .secondscreen__textcontainer {
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .secondscreen__text {
    margin-right: 20px;
  }

  .secondscreen_pic1 img {
    display: none;
  }

  .secondscreen__pic2 img {
    display: none;
  }

  .secondscreenpics {
    margin: 0px;
  }

  .firstscreen__container {
    padding-bottom: 0px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  .secondscreen__title h2 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }
}
/*
.wrapper {
	height: 100%;
	overflow: hidden;
	min-height: 100%;
	padding: 50px;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.block {

}

.block__row { 
	display:flex;
	justify-content: space-between;	
	flex-direction: column;
	border: 20px solid #ece89d;
	margin: 0 0 20px 0;
height: 1000px;
}
.block__colomn { 


	border: 20px solid #5e5373;
	text-align: center;
 }
.block__item { 


	background-color: #18b5a4;
	padding: 50px;
	font-size: 50px;
	color: #fff;
	font-weight: 700;
 }

.block__colomn_1 {



 }
.block__colomn_2 {


 }
.block__colomn_3 {



}







/*
// Переменные для блока
$fz:100px;
$color_1:#000;
$color_2:#fff;

// Шаблон №1
.tplborder{
	font-size: 100px;
	border-bottom: 5px dashed red;
}
@mixin fontz($f,$c){
	font-size: $f;
	color: $c;
}
.block{
	width: 300px / 960px * 100%;
	background-color: #666;
	padding: 30px;
	line-height: 60px;
	.block__text{
		font-size: $fz;
		span{
			color: green;
		}
	}
}
.link{
	@include fontz(80px,green);
	color: $color_1;
	text-decoration: underline;
	font-size: $fz;
	.block &{
		font-size: $fz;
	}
	&:hover{
		color: $color_2;
	}
	@extend .tplborder;
}
.link-2{
	@include fontz(50px,green);
	border-bottom: 5px dashed #000;
	@extend .tplborder;
}
*/